<ion-header translucent>
  <ion-toolbar>
    <ion-title>  <div>
      {{Products.name}}
  </div></ion-title>
   <ion-button (click)="logout()">Logout</ion-button> 
  </ion-toolbar> </ion-header>
<ion-content>
  <ion-card class="mt-30px">
    <img src="http://127.0.0.1:8000/storage/{{Products.image}}" />
    <ion-card-header>
      <ion-card-title>{{Products.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{Products.body}}
    </ion-card-content>
  </ion-card>
</ion-content>
